* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* NAVBARS */

body {
  font-family: "Roboto", sans-serif;
}
.first {
  background-color: #c31414;
  height: 4rem;
}

.logo {
  width: 15rem;
}

.cart {
  color: aliceblue;
}

.person {
  color: aliceblue;
}

.bar {
  width: 40rem;
}
.text {
  color: rgb(27, 27, 27);
}
.depart {
  font-size: larger;
  font-weight: 500;
}
.secondnav {
  background-color: #cbcbcb;
  color: white;
}
.icons {
  cursor: pointer;
  font-size: 1.5rem;
}

/* OFMENU */
.departamentos {
  cursor: pointer;
  text-decoration: none;
  color: rgb(41, 41, 41);
  text-transform: uppercase;
  font-weight: 500;
}
.departamentos:hover {
  color: #c31414;
}
.rebajas {
  color: #c31414;
}

.offmenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.downmenu {
  margin-left: 10rem;
  font-size: larger;
}

/* CAROUSEL */
.firstCarousel img {
  border-radius: 1.5rem;

  margin-top: 2rem;
}

.carousel {
  width: 85%;
  margin: auto;
}

/* PRODUCTS CONTAINERS*/
#relojes {
  font-family: sans-serif;
  background-color: white;
}

#relojes h2 {
  font-size: 2rem;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-right: 20rem;
  font-weight: 600;
}

#maletas h2 {
  font-size: 2rem;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-right: 20rem;
  font-weight: 600;
}

.content h3 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding-top: 0.8rem;
}

.content a {
  text-decoration: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.content {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  transition: 0.4s;
  background: rgb(255, 255, 255);
}

.content:hover {
  box-shadow: 5px 15px 25px #eeeeee;
  transform: translate(0px, -8px);
}
.content:hover img {
  scale: 2;
  transform: translateY(-2rem);
}
.content img {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.content p {
  text-align: center;
  color: #b2bec3;
  padding-top: 0 8px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.content h6 {
  font-size: 26px;
  text-align: center;
  color: #222f3e;
  margin: 0;
}

.content ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-right: 2rem;
}

.content li {
  padding-top: 5px;
}

.star {
  font-size: 26px;
  transition: 0.4s;
}
.color {
  color: #c31414;
}

.content button {
  text-align: center;
  font-size: 24px;
  color: #f2f2f2;
  width: 100%;
  padding: 1rem;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.buy-1 {
  background-color: #c31414;
  color: black;
}

.buy-1:hover {
  background-color: #ffffff;
  color: #c31414;
}

.buy-2 {
  background-color: #c31414;
  color: rgb(25, 5, 5);
}

.buy-2:hover {
  background-color: #ffffff;
  color: #c31414;
}

.buy-3 {
  background-color: #c31414;
  color: rgb(25, 5, 5);
}

.buy-3:hover {
  background-color: #ffffff;
  color: #c31414;
}

.buy-4 {
  background-color: #c31414;
  color: rgb(25, 5, 5);
}

.buy-4:hover {
  background-color: #ffffff;
  color: #c31414;
}

/* SALES */
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 75px;
  grid-auto-flow: dense;
  margin-bottom: 1rem;
}

.text-overlay {
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  text-align: start;
}

.text-overlay2 {
  position: absolute;
  top: 5%;
  left: 22%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 2.3rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.ver-mas {
  position: absolute;
  bottom: 9%;
  left: 20%;
  transform: translate(-50%, 50%);
  color: rgb(255, 255, 255);
  font-size: 1.3rem;

  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.ver-mas2 {
  position: absolute;
  bottom: 5%;
  left: 10%;
  transform: translate(-50%, 50%);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;

  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.guy {
  position: relative;
  grid-column: span 1;
  grid-row: span 4;
}

.guy:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}

.girl {
  position: relative;
  grid-column: span 1;
  grid-row: span 4;
}

.girl:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}

.kid {
  position: relative;
  grid-column: 3 / span 1;
  grid-row: 5 / span 4;
}

.kid:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}

.lady {
  position: relative;
  grid-column: 4 / span 1;
  grid-row: 5 / span 4;
}

.lady:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}

.big {
  position: relative;
  grid-column: span 2;
  grid-row: span 8;
}

.big:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}
/* Second Carousel */

.secondCarousel img {
  border-radius: 1.5rem;

  margin-bottom: 1rem;
}

.carousel2 {
  transition: 0.4s;
  width: 50%;
  height: 50%;
  margin: auto;
}

.carousel-container2 {
  display: flex;
  margin-left: 6.6rem;
  margin-right: 6.6rem;
  gap: 1rem;
}

/* Banner */

.banner {
  display: flex;
  max-width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.banner img {
  border-radius: 1.5rem;
}

/* Second products */

.products h3 {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-size: 3rem;
}

.all-products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  background: #ffffff;
  color: #21201e;
  text-align: center;
  width: 240px;
  height: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  margin: 2rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.product .product-title,
.product .product-price {
  font-size: 18px;
}

.product:hover img {
  scale: 1.8;
}

.product:hover {
  box-shadow: 5px 15px 25px #eeeeee;
}

.product img {
  height: 200px;
  margin: 1rem;
  transition: all 0.3s;
}

.product a:link,
.product a:visited {
  color: #ececec;
  display: inline-block;
  text-decoration: none;
  background-color: #c31414;
  padding: 1.2rem 3rem;
  border-radius: 1rem;
  margin-top: 1rem;
  font-size: 14px;
  transition: all 0.2s;
}

.product a:hover {
  transform: scale(1.1);
}

/* LASTBANNERS */
.lastBanner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
}
.lastBanner img {
  border-radius: 1.5rem;
}

/* FOOTER */

.footerContainer {
  background-color: #c31414;
}

/* MEDIA QUERY */
@media (max-width: 750px) {
  .content {
    width: 100%;
  }
  .guy {
    grid-column: span 2;
    grid-row: span 4;
  }

  .girl {
    grid-column: span 2;
    grid-row: span 4;
  }
  .kid {
    grid-column: span 2;
    grid-row: span 4;
  }

  .lady {
    grid-column: span 2;
    grid-row: span 4;
  }
  .big {
    grid-column: span 2;
    grid-row: span 4;
  }
}
